<!DOCTYPE html>
<html>
<head>
  {{ partial "head-app" }}
</head>
<body>

  {{! Application
  ====================================================== }}
  <div class="application">
    {% body %}
  </div>

{{! Footer
====================================================== }}
{{ partial "footer-app" }}
